body {
 font-family: 'Ewert', cursive;
 font-size: 52px;
 background: url("hangman.jpg");
 background-size: contain;
}

#gallows {
 padding-left: 125px;
 width: 400px;
 height: 450px;
}

#myCanvas {
 position: absolute;
 bottom: 100px;
 left: 372px;
 width: 180px;
 height: 315px;
}

#timer {
  position: absolute;
  bottom: 320px;
  right: 60px;
  width: 280px;
  height: 150px;
}

#scoreboard {
  position: absolute;
  bottom: 140px;
  right: 60px;
  width: 280px;
  height: 150px;
}

#tryAgain {
  position: absolute;
  bottom: 20px;
  right: 200px;
  width: 140px;
  height: 80px;
}

#reset {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 140px;
  height: 80px;
}

header {
 border: 5px solid red;
 width: 750px;
 height: 500px;
 margin: 0px 50px;
 display: block;
}

#lettersWrong {
 position: absolute;
 bottom: 500px;
 right: 20px;
 font-size:55px;
 color: white;
}

header div {
 text-align: center;
}

main {
 display: flex;
 justify-content: space-between;
 width: 60%;
 margin-left: 60px;
 padding-bottom: 150px;
}

section {
 display: inline-block;
 text-align: center;
 font-size: 38px;
 height: 35px;
 width: 40px;
 padding: 5px;
 color: white;
 border-bottom: 2px solid white;
}
